.box{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 30px;
}
.pink{
  background: pink;
}
.grey{
  background: grey;
}
.blue{
  background: blue;
}
.black{
    background: black;
}
.hidden{
  opacity: 0;
}
.blocker{
  display: none;
}
